<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>El paraiso de la pizza</title>
        <link href="css/estilosCarrito.css" rel="stylesheet" />
        <link href="css/header.css" rel="stylesheet" />
        <link href="css/footer.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    
<body>
    <header>
        <img src="img/logo.jpg" width="180" alt="Logo de pizzeria" />
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/register">Registrate <i class="far fa-id-card"></i></a></li>
                    <li><a href="/carrito">Mi carrito <i class="fas fa-shopping-basket"></i></a></li>
                    <li><a href="/detalle">Detalle</a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
    </header>
     
        <img  src="img/imagen-carrito-chica-comiendo-pizza.jpg" alt="" style="width: 100vw;">

    <main>  
      
        <section class="botones-carrito">

            <article class="btn-reiniciar-ver-container w3-padding">

            <div class="w3-button w3-round w3-green " >
                <p>Ver Pedido</p>
            </div>

            <div class="w3-button w3-round w3-red ">
                <p>Reiniciar</p>
            </article>

            </div>

            <article class="container-btn-precio-total w3-padding">
                <div class="w3-button w3-round w3-aqua btn-precio-final " >
                Precio Final $0
                </div>
            </article>
        </section>



        <section>
            <h1 class="pizzas w3-margin-top w3-margin-bottom">Pizzas</h1>
            <div class="contenedor-pizzas">
                <article>
                   <img src="img/pizza1.jpg" alt="" style="width:100%;">
                   <div class="contenedor-articulo">
                   <div class="texto-contenedor-pizza w3-margin-top">
                   <p class="nombre-producto"><strong>Muzzarella</strong></p>
                   <p>Muzzarella, salsa especial, oregano, aceitunas verdes, masa al molde/ a la piedra.</p>
                    </div>
                   <div class="contenedor-precio-pizza w3-margin-bottom w3-margin-top">
                       <p>$700</p>
                       <i class="fas fa-cart-plus"></i>
                   </div>
                </div>
                </article>
                <article>
                    <img src="img/pizza 2.jpg" alt="" style="width:100%;">
                    <div class="contenedor-articulo">
                    <div class="texto-contenedor-pizza w3-margin-top">
                    <p class="nombre-producto"><strong>Napolitana</strong></p>
                    <p>Muzzarella de bufala, salsa de tomate al natural, oregano, albahaca, aceitunas verdes, masa a la piedra.</p>
                    </div>
                    <div class="contenedor-precio-pizza w3-margin-bottom w3-margin-top" >
                        <p>$1000</p>
                        <i class="fas fa-cart-plus"></i>
                    </div>
                </div>
                 </article>
                 <article>
                    <img src="img/pizza3.jpg" alt="" style="width:100%;">
                    <div class="contenedor-articulo">
                    <div class="texto-contenedor-pizza w3-margin-top">
                    <p class="nombre-producto"><strong>New york</strong></p>
                    <p>Peperoni, Muzzarella, oregano, aceitunas verdes, salsa especial, masa al molde.</p>
                    </div>
                    <div class="contenedor-precio-pizza w3-margin-bottom w3-margin-top">
                        <p>$800</p>
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    </div>
                 </article>
                 <article>
                    <img src="img/pizza4.jpg" alt="" style="width:100%;">
                    <div class="contenedor-articulo">
                    <div class="texto-contenedor-pizza w3-margin-top">
                    <p class="nombre-producto"><strong>Jamon y Rucula</strong></p>
                    <p>Rucula, jamon crudo, tomate en rodajas, oregano, Salsa especial, Muzzarella masa a la piedra.</p>
                    </div>
                    <div class="contenedor-precio-pizza w3-margin-bottom w3-margin-top">
                        <p>$1200</p>
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    </div>
                 </article>
            </div>
        </section>
 
    </main>
    <footer class="w3-margin-top">
        <div class="footer-icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-youtube"></i>
          </div>
         <div> 
        <p>Copyright © 2021 El Paraíso de la pizza</p>
      </div>
      </footer>
    
</body>
</html>