*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

header{
  display: flex !important;
}

  .detalle-box {
    background-image: url(../img/fondo-tomate.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around;
    flex-grow: 1;
  }
  
  .detalle-titulo {
    display: flex;
    color: #ebebeb;
    text-align: center;
    flex-direction: column;
    margin: 5px;
    width: 340px;
  }
  .detalle-box-menor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 340px;
  }

  .detalle-pie-imagen {
    display: flex;
    background-color: gainsboro;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 330px;
  }
  
  .detalle-imagen-pizza {
    width: 330px;
    background-color: gray;
    flex-wrap: nowrap;
  }

  .detalle-imagen-pizza img{
    width:270px;
    background-color: gray;
  }
      
  .detalle-ingredientes {
    width: 330px;
    font-size: 12px;
    text-align: left;
    padding: 5px 25px;
    font-family: Roboto;
  }

  .detalle-ingredientes h3 {
    color:darkblue;
    text-align: center;
  }

  .detalle-ingredientes p {
    color: black;
    text-align: center;
  }
  
  .detalle-precio {
    font-size: 30px;
    font-family: Roboto;
    width: 50%;
    text-align: center;
    padding: 10px;
  }

  .detalle-salir {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Roboto;
    width: 100%;
    text-align: right;
    padding: 10px;
  }

  .crud-buttons{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
    padding: 10px;
  }

  @media (min-width:708px) {

    main section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 45%;
    }

    .detalle-box-menor, .detalle-titulo {
      width: 600px;
    }

    .detalle-imagen-pizza {
      width: 580px;
      background-color: whitesmoke;
      flex-wrap: nowrap;
    }
  
    .detalle-imagen-pizza img{
      width:580px;
      padding: 10px;
    }
}

@media (min-width:1200px) {

    main section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 22%;
    }

    .detalle-box-menor, .detalle-titulo, .detalle-imagen-pizza, .detalle-imagen-pizza img{
      width: 800px;
    }
    
    .detalle-imagen-pizza {
      width: 680px;
      background-color: whitesmoke;
      flex-wrap: nowrap;
    }
  
    .detalle-imagen-pizza img{
      width:680px
    }
}