*{
    font-family: Roboto;
}

header{
    display: flex !important;
}

main{
    margin: 0 auto;
    width: 50%;

}

main section form input{
    width: 100% !important;
}

.error-msg{
    color: rgb(255, 75, 43);
      text-align: center;
    }
