*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* Header Mobile

header{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}


header nav{
    display:none;
}

.burger-menu{
    font-size: 2em;
    border-radius: 30%;
    border:1px solid white;
    color:white;
    width: 50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding:5px;
}

/*Fin header*/



/*Main mobile*/


.pizzas{
    text-align: center;
}

main section .contenedor-pizzas{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

main section .contenedor-pizzas article{
    border:1px solid wheat;
    margin-top: 30px;
    margin-bottom: 30px;
}



.texto-contenedor-pizza{
    text-align: center ;

}

main section article {
    width: 500px;
}

main  section article img{
    width: 100%;
}

.contenedor-precio-pizza{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}
.fa-plus-circle{
    font-size: 30px;
    color: indigo;
}

/*footer

footer {
    width: 100%;
    background-color: #000;
    padding: 10px 0px 25px 0px;
}

footer .social_footer_ul {
    display: flex;
    color: darkslategray;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
}

footer .social_footer_ul li a {
    color: white;
}

footer .social_footer_ul li a i {
    font-size: 23px;
    line-height: 50px;
    transition: .3s;
    text-align: center;
    width: 20px;
    border-radius: 25px 25px;
    padding-left: 15px;
    padding-right: 35px;
}

footer .social_footer_ul li .fab:hover {
    transform: scale(1.0);
}

footer .social_footer_ul li [class*="fab fa-facebook-f"] {
    padding-left: 19px;
    padding-right: 30px;
}

footer .social_footer_ul li [class*="fab fa-facebook-f"]:hover {
    background-color: #3b5999;
    border-radius: 25px 25px;
    margin-top: 10px;
    padding-left: 19px;
    padding-right: 30px;
}

footer .social_footer_ul li [class*="fab fa-instagram"]:hover {
    background-color: #e4405f;
    border-radius: 25px 25px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 35px;
}

footer .social_footer_ul li [class*="fab fa-twitter"]:hover {
    background-color: #55acee;
    border-radius: 25px 25px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 35px;
}

footer .social_footer_ul li [class*="fab fa-linkedin"]:hover {
    background-color: #0a66c2;
    border-radius: 25px 25px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 34.5px;
}



/*fin main mobile*/



