.footer-icons {
    color: #e4e8ee;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top:10px;
  }
  footer p {
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
  footer li {
    text-decoration-color: #e4e8ee;
    text-align: center;
    font-weight: bold;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    background-color:black;
    padding: 5px;
    color:white
  }

.social-network a{
  font-size: 20px;
  color: #fff;
  padding: 0 10px;
  transition: all 0.5s ease;
}
.social-network h4{
  text-align: center;
  color: #fff;
}
.social-network a:hover {
  border-color: transparent;
  color: cyan;
}