*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* .header{
  position: fixed;
} */
.nav{
  background-color: black;
  height: 80px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  margin: 0 auto;
}
.logo-img{
  width: 79px;
}
.logo{
  padding: 0 100px;
  line-height: 80px;
}
nav ul{
  float: right;
  margin-right: 20px;
  /* font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content; */
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; 
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

a.nav-link, a:hover{
  background: black;
  transition: 0.5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media(max-width: 900px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: gray;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin:50px 0;
    line-height: 30px;

  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.nav-link{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

  /* header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    }
  
  header nav ul li {
      display: none;
  }

  main img {
    width: 100vw;
  }

  .burger-menu {
    text-align: center;
    margin-top:70px;
  }
  .burger-menu i {
    background-color: rgb(68, 72, 87);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
  }

  
@media (min-width: 722px) {

  header nav ul li{
    font-size: 15px;
    margin-top: 70px;
    display:inline-block;
    text-align: center;
    padding:10px 20px;
  }
  
  .burger-menu {
    display: none;
  }

  header ul {
    margin-top: 10px;
  }
  header ul li {
    list-style-type: none;
  }
  
  header ul li a {
    text-decoration: none;
    color: white ;
  }
} */
