*{
    font-family: Roboto;
}

body {
    background-color: #CF0A2C;
}

.articulo {
    display: flex;
    width: auto;
    flex-direction: column; 
    background-color: black;
    color:whitesmoke;
    border-radius: 6%;
    margin: 1%;
}

.articulo:hover 
{
    transform: scale(1.05);
    transition: all 0.5s;
    background-color: #5f5d5e; 
    cursor: pointer;
    font-size: 12px;
}

.img-product {
    align-content: center;
    align-items: center;
    width: 100%;
    border-radius: 6%;
}

.precio {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.descuento {
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
    margin-top: 5px;
}
.descripcion {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

/* main section {
    width: 100%;
    align-items: center;
    margin-top: 10px;
}
main section article {
    
    align-items: center;
    margin: 10px;
} */

@media (min-width: 361px){
    /*.descripcion{
        display: block;
    }*/
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section div.productos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    main section div.productos article{
        width: 45%;
    }

}

@media (min-width: 769px){
    main section div.productos article{
        width: 23%;
    }
    .descuento{
        width: 40%;
        margin-left: 15px;
    }

}