header{
    display: flex !important;
}

main{
    margin: 0 auto;
    width: 50%;
}

.container-user{
    display: flex;
    background-color:#506369;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.mensaje-user{
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
 
.image-user{
    width: 30%;
    height: auto;
    border-radius: 20%;
    margin: 0 auto;
}

.mail-user{
    font: bold 16px "Roboto", sans-serif;
}