<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El paraiso de la pizza</title>
    <link href="/public/css/detalleproducto.css" rel="stylesheet" />
  </head>

  <body>
    <div class="detalle-box">
      <div class="detalle-titulo">
        <h1>Pizza de Champignones</h1>
      </div>
      <div class="detalle-box-menor">
        <div class="detalle-imagen-pizza">
          <img src="/public/img/detalle-pizza.png" alt="" />
          <div class="detalle-precio">
            <p>$ 700.-</p>
          </div>
        </div>
        <div class="detalle-ingredientes">
          <h3>ingredientes</h3>
          <ul class="detalle-lista-ingredientes">
            <li>Ingrediente 1</li>
            <li>Ingrediente 2</li>
            <li>Ingrediente 3</li>
          </ul>
          <div class="detalle-obs">
            <h3>observaciones</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
