<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>El paraíso de la pizza</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/stylesHome.css">
    </head>
    <body>
        <header>
            <img src="images/logo.jpg" width="180" alt="Logo de pizzeria"> 
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Pizzas</a></li>
                    <li><a href="#">Promos</a></li>
                </ul>
                <ul>
                    <li><a href="#">Registrate <i class="far fa-id-card"></i></a></li>
                    <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mi carrito <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main>
            <section>
                <h3>Algunos de nuestros platos!</h3>
                <article>
                    <img src="images/pizza.jpg" width="360" alt="pizza">
                    <div class="contenedor-articulo">    
                        <h4 class="descripcion">Pizzas</h4>
                    </div>    
                </article>
                <article>
                    <img src="images/calzone.jfif" width="360" alt="calzone">
                    <div class="contenedor-articulo">    
                        <h4 class="descripcion">Calzone</h4>
                    </div>    
                </article>    
                <article>
                    <img src="images/empanada.jpg" width="360" alt="empanada">
                    <div class="contenedor-articulo">    
                       <h4 class="descripcion">Empanadas</h4>
                    </div>    
                </article>    
            </section>
        </main>
        <footer>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Promos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Buscar</a></li>
                    <li><a href="#">Privacidad</a></li>
                    <li><a href="#">Comunidad</a></li>
                </ul>
            <div class="footer-icons"><i class="fa fa-facebook"></i></div>
            <div class="footer-icons"><i class="fa fa-twitter"></i></div>
            <div class="footer-icons"><i class="fa fa-instagram"></i></div>
            <div class="footer-icons"><i class="fa fa-youtube"></i></div>          

           
            <p>Copyright © 1999-2021 El Paraíso de la pizza S.R.L.</p>
        </footer>
    </body>
</html>