<footer>

  <div class="social-network">
    <h4>Siguenos en:</h4>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-telegram"></i></a>
</div>

  <div>
    <p>Copyright © 2021 El Paraíso de la pizza</p>
  </div>
</footer>
