<footer>
  
  <div class="social-network">


    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a>
    <a href="https://web.telegram.org/k/" target="_blank"><i class="fab fa-telegram"></i></a>
  </div>
  <div>
    <p>Copyright © 2022 El Paraíso de la pizza</p>
  </div>
</footer>