<footer>
    <div class="footer-icons">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-youtube"></i>
    </div>
     <div> 
    <p>Copyright © 2021 El Paraíso de la pizza</p>
  </div>
  </footer>