<header class="header">
  <nav class="nav">
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <a href="/" class="logo"><img src="/img/logo.jpg" alt="logo" class="logo-img" /></a>
    <!-- <button class="nav-toggle"></button> -->
    <ul class="nav-menu">
      <li><a href="/" class="nav-menu-link nav-link">Home</a></li>
      <li>
        <a href="/users/login" class="nav-menu-link nav-link">Ingresá <i class="fas fa-sign-in-alt"></i></a>
      </li>
      <li>
        <a href="/users/register" class="nav-menu-link nav-link">Registrate <i class="far fa-id-card"></i></a>
      </li>
      <li>
        <a href="/products/carrito" class="nav-menu-link nav-link">Mi Carrito <i class="fas fa-shopping-basket"></i></a>
      </li>
      <li>
        <a href="/products/productos" class="nav-menu-link nav-link">Productos</a>
      </li>
    </ul>
  </nav>
</header>
