<header class="header">
    <nav class="nav-personalized">
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>

        <a href="/" class="logo"><img src="/img/logo.jpg" alt="logo" class="logo-img" /></a>

        <% if(locals.isLogged){ %>

            <ul class="nav-menu text-light">
                <li>
                    <a class="nav-menu-link nav-link text-light">Usuario: <%= locals.userLogged.user_firstname + " "%></a>
                    <!-- <img src="/public/img/userdefault.png" width="40" style="border-radius: 100%"> -->
                </li>
                <li>
                    <a href="/products/agregar" class="nav-menu-link nav-link text-light">+ Producto</a>
                </li>
                <li>
                    <a href="/products/carrito" class="nav-menu-link nav-link text-light">Mi Carrito <i
                            class="fas fa-shopping-basket"></i></a>
                </li>
                <li>
                    <a href="/products/productos" class="nav-menu-link nav-link text-light">Productos</a>
                </li>
                <li>
                    <a href="/users/logout" class="nav-menu-link nav-link text-warning">SALIR</a>
                </li>
                <li>
                    <div>
                        <form action="/products/encontrados" method="GET">
                            <input class="search" name="search" placeholder="Buscar...">
                            <button class="fas fa-search" type="submit"></button>
                        </form>
                    </div>
                </li>
            </ul>
            <% } else{ %>
                <ul class="nav-menu">
                    <li><a href="/" class="nav-menu-link nav-link text-light">Home</a></li>
                    <li>
                        <a href="/users/login" class="nav-menu-link nav-link text-light">Ingresá <i
                                class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="/users/register" class="nav-menu-link nav-link text-light">Registrate <i
                                class="far fa-id-card"></i></a>
                    </li>
                </ul>
                <% } %>

                    <section class="common-header-center">
                    </section>
    </nav>

</header>