<header>
    <a href="/">   
        <img src="img/logo.jpg" width="180" alt="Logo de pizzeria">
    </a>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/register">Registrate <i class="far fa-id-card"></i></a></li>
        <li><a href="/carrito">Mi carrito <i class="fas fa-shopping-basket"></i></a></li>
        <li><a href="/detalle">Detalle</a></li>
    </ul>
    </nav>
    <div class="burger-menu">
      <i class="fa fa-bars burger"></i>
    </div>
  </header>