<!-- <header>
    <a href="/">   
        <img src="/img/logo.jpg" width="180" alt="Logo de pizzeria">
    </a>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/users/register">Registrate <i class="far fa-id-card"></i></a></li>
        <li><a href="/products/carrito">Mi carrito <i class="fas fa-shopping-basket"></i></a></li>
        <li><a href="/products/detalle">Detalle</a></li>
    </ul>
    </nav>
    <div class="burger-menu">
      <i class="fa fa-bars burger"></i>
    </div>
  </header> -->

  <header class="header">
    <nav class="nav">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
          <a href="/" class="logo"><img src="/img/logo.jpg" alt="logo" class="logo-img"></a>
          <!-- <i class="fas fa-bars"></i> -->
          <!-- <button class="nav-toggle"><i class="fas fa-bars"></i></button> -->
          <ul class="nav-menu ">
              <li><a href="/" class="nav-menu-link nav-link">Home</a></li>
              <li><a href="/users/login" class="nav-menu-link nav-link">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="/users/register" class="nav-menu-link nav-link">Registrate <i class="far fa-id-card"></i></a></li>
              <li><a href="/products/carrito" class="nav-menu-link nav-link">Mi Carrito <i class="fas fa-shopping-basket"></i></a></li>
              <li><a href="/products/detalle" class="nav-menu-link nav-link">Detalle</a></li>
          </ul>
    </nav>
</header>