<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <link href="/css/stylesHome.css" rel="stylesheet" />

  <body class="body-home">
    <%- include('../partials/header.ejs') %>

    <img src="/img/imagen-home.jpg" alt="" style="width: 100vw" /> -

   

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
