<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <link href="/css/stylesHome.css" rel="stylesheet" />

  <body class="body-home">
    <%- include('../partials/header.ejs') %>

    <img src="/img/imagen-home.jpg" alt="" style="width: 100vw" /> -

    <main>
      <section>
        <h3>Algunos de nuestros platos!</h3>
        <article>
          <img src="img/pizza.jpg" width="360" alt="pizza" />
          <div class="contenedor-articulo">
            <h4 class="descripcion">Pizzas</h4>
          </div>
        </article>
        <article>
          <img src="img/calzone.jfif" width="360" alt="calzone" />
          <div class="contenedor-articulo">
            <h4 class="descripcion">Calzone</h4>
          </div>
        </article>
        <article>
          <img src="img/empanada.jpg" width="360" alt="empanada" />
          <div class="contenedor-articulo">
            <h4 class="descripcion">Empanadas</h4>
          </div>
        </article>
      </section>
    </main>

    <!-- <article class="articulo">
      <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera"> 
  <div class= contenedor>
          <i class="fas fa-truck"></i>
      <p class="precio cafetera">$6.770</p>
      <p class="descuento cafetera">40% OFF</p>
      <h4 class="descripcion cafetera">Cafetera Moulinex</h4>
  </div>
  </article> -->

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
